<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
  </head>

  <body>
    <header>
      <h1><a href="/">Random Blog in the Web</a></h1>
    </header>

    <article>
      <time>published: 13.04.2025, 10:17</time>
      <h2><a href="">First post!</a></h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et vel
        nesciunt, dolorem consequuntur commodi voluptatum reprehenderit ipsa eos
        soluta! Nemo recusandae itaque accusantium, autem atque laboriosam
        voluptatem unde aliquid laudantium!
      </p>
    </article>

    <article>
      <time>published: 20.04.2025, 15:26</time>
      <h2><a href="">Second post</a></h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae modi eos
        illo ab voluptate nemo facere, cupiditate non blanditiis quis culpa
        pariatur. Illo quidem voluptatum vitae deserunt. Numquam, quidem porro.
      </p>
    </article>
  </body>
</html>
