h1 a,
h2 a {
  color: mediumpurple;
  font-family: "Jersey 15", sans-serif;
}

a {
  text-decoration: none;
}

.page-header {
  background-color: rgb(234, 233, 255);
  margin-top: 0;
  margin-bottom: 40px;
  padding: 20px 20px 20px 40px;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
  color: rgb(207, 29, 142);
  font-size: 36pt;
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-family: "Jersey 15", sans-serif;
}

.date {
  color: #828282;
}

.save {
  float: right;
}

.post-form textarea,
.post-form input {
  width: 100%;
}

.top-menu,
.top-menu:hover,
.top-menu:visited {
  color: rgb(119, 99, 229);
  float: right;
  font-size: 26pt;
  margin-right: 20px;
  transform: scale(2.5);
}

.post {
  margin-bottom: 70px;
}

.post h2 a,
.post h2 a:visited {
  color: mediumslateblue;
}

.post > .date,
.post > .actions {
  float: right;
}

.btn-secondary,
.btn-secondary:visited {
  color: rgb(119, 99, 229);
  background: none;
  border-color: rgb(119, 99, 229);
  margin-left: 15px;
}

.btn-secondary:hover {
  color: #ffffff;
  background-color: rgb(207, 29, 142);
}
